n8n/workflows/SEO - 01 Generación de Keywords.json
{
  "name": "SEO - 01 Generación de Keywords",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seo/keywords",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "107c990a-de7b-463b-bbad-c880ed21933e",
      "webhookId": "fd4e2e12-5bfb-489f-81fe-a7094908743f"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "=`Analiza y genera palabras clave relevantes para SEO:\n\nTema principal: {{$json.tema}}\nNicho de mercado: {{$json.nicho}}\nIntención de búsqueda: {{$json.intencion}}\n\nGenera un análisis detallado de keywords relacionadas, incluyendo volumen de búsqueda estimado, dificultad y tipo de intención.\nResponde en formato JSON exactamente como se especifica:\n{\n  \"keywords\": [\n    {\n      \"keyword\": \"palabra clave\",\n      \"searchVolume\": \"número estimado\",\n      \"difficulty\": \"1-100\",\n      \"intent\": \"informacional/transaccional/navegacional\"\n    }\n  ]\n}`"
            }
          ]
        },
        "options": {}
      },
      "name": "Preparar Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "a8760089-5cfa-4a56-840b-40d2413f7b9c"
    },
    {
      "parameters": {
        "prompt": "={{ $json.prompt }}",
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        },
        "requestOptions": {}
      },
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "ef9da1f8-10e7-4dab-a079-4f58da1d4b91",
      "credentials": {
        "openAiApi": {
          "id": "IDR18P8JJHeNClOr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "result",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Procesar Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        608,
        0
      ],
      "id": "8a0fc7c6-e58d-43c9-8f34-2d27a1058a6a"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.result }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "94151969-a0d3-4167-ac15-3fd32c1bc2c7"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Preparar Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Procesar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Respuesta": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8a4b3b0d-0a4f-42c7-89a6-750b997d5026",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f42723d854102a22f8b6314b06bbb38f4b6e259798e3ba1bfd90033d4266ea4"
  },
  "id": "pD6dOB5HCsjFxEGI",
  "tags": [
    {
      "createdAt": "2025-10-16T23:45:00.633Z",
      "updatedAt": "2025-10-16T23:45:00.633Z",
      "id": "Jyvk52dJ2wNnSCbU",
      "name": "SEO"
    }
  ]
}